.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.wav
interviews/Diego.mp4
interviews/freddie.mp4
interviews/Fredrik1404.mp4
interviews/Jonatan.mp4
interviews/kaua/thesis - Google Chrome 2020-04-15 16-55-27.mp4
interviews/kaua/thesis - Google Chrome 2020-04-15 17-04-27.mp4
interviews/kaua/thesis - Google Chrome 2020-04-15 17-06-03.mp4
interviews/Marius.mp4
interviews/OscarStröm1304.mp4

